@use '../../../../../assets/style/layout' as layout;
@use '../../../../../assets/style/variables' as variables;

:host {
  @include layout.base-flex-layout();

  .header {
    @include layout.base-flex-layout($justify-content: space-between);

    background-color: variables.$secondary-brand-color;
    border-bottom: 5px solid variables.$primary-brand-color;
    padding: 20px;

    .main-logo {
      display: block;
      height: auto;
      width: 200px;
    }

    @media screen and (min-width: map-get(variables.$media-breakpoints, 'md')) {
      flex-direction: row;
    }
  }
}
